<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/auth.css">
    <title>Login</title>
</head>

<body>
    <div class="auth">
        <h1>Welcome back! Login here...</h1>

        <form method="POST" action="/login" class="login-form">
            <label>Email:</label>
            <input type="email" name="email" placeholder="Enter email address..." required>

            <label>Password:</label>
            <input type="password" name="password" placeholder="Enter password..." required>

            <label>CAPTCHA:</label>
            <img src="{{captcha_code}}">
            <input type="text" name="captcha" placeholder="Enter what you see..." required>

            <button type="submit">Register</button>
        </form>

        <p>Don't have an account? Create one <a href="/register">here</a></p>
    </div>
</body>

</html>